html
    head 
        title Client 

    body 
        h1 Page client
        
        a(href="/") Return dashboard
        
        br
        
        h3= person.firstName
        h3= person.lastName

        form(action='/addWithdrawn', method='POST')
            input(type='hidden', name='person_name_origin', value=person.firstName)
            span Withdrawn
                p
                    | Amount to withdrawn: 
                    input(type='number', name='amount_withdrawn', value='')
            
            input(type='submit', value='Submit Withdrawn')


        form(action='/addDepose', method='POST')
            input(type='hidden', name='person_name_origin', value=person.firstName)
            span Depose
                p
                    | Amount to depose: 
                    input(type='number', name='amount_depose', value='')
            
            input(type='submit', value='Submit Depose')
       
       
        form(action='/addTransfer', method='POST')
            input(type='hidden', name='person_name_origin', value=person.firstName)
            span Transfer
                p
                    | Person to transfer: 
                    select(name='person_to_transfert')
                        each person in listPerson
                            option(value=person.firstName) #{person.firstName}
                p
                    | Amount to transfer: 
                    input(type='number', name='amount_transfer', value='')
            
            input(type='submit', value='Submit Transfer')
